@model IEnumerable<Booking>

@{
    ViewData["Title"] = "ViewDetails";
}

<h1>Pending Rides</h1>
@*

<table>
    <tr>
        <th>@Model.from</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>*@




<div class="d-flex">
    <a asp-action="ViewDetails" class="btn btn-primary ms-auto my-2">Go To Profile</a>
</div>






@*
<div class="container-fluid">
    @if (Model.Any())
    {
        <div class="row gap-5">
            @foreach (var item in Model)
            {
                <div class="card col-sm-3 shadow">
                    <img src="https://dummyimage.com/500x500/f2f2f2/5e5e5e&text=" class="card-img-top" alt="">
                    <div class="card-body">
                        <h1>Customer Details</h1>
                        <h6>@item.CarModel</h6>
                        <h6>@item.From</h6>
                        <h6>@item.To</h6>
                        <h6>@item.Date</h6>
                        <h6>Amount : /Rs</h6>
                    </div>
                    <div class="card-footer d-flex">
                        <div class="btn-group ms-auto">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Do you want to delete this movie?')">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info">
            No movies were found. Please
            <a asp-action="Create" class="alert-link">Go to Profile</a> first.
        </div>
    }*@












    <div class="container-fluid">
    @if (Model.Any())
    {
        <div class="row gap-5">
            @foreach (var item in Model)
            {
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Car Model</th>
                <th>Pick Up</th>
                <th>Drop Off</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src=""
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@item.CarModel</p>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </td>

                                <td>
                
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1">@item.From</p>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                </td>

                                <td>

                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">@item.To</p>
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </td>


                <td>
                    <p class="fw-normal mb-1">@item.Date</p>
                    <p class="text-muted mb-0"></p>
                </td>

                <td>
                        <div class="btn-group ms-auto">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Accept Ride</a>
                        </div>
                </td>

                <td>
                                    <div class="btn-group ms-auto">
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Do you want to ignore this ride?')">Ignore Ride</a>
                                    </div>
                </td>
            </tr>
        </tbody>
    </table>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                No bookings were found. Please
                <a asp-action="Create" class="alert-link"></a> first.
            </div>
        }
        </div>
